.bg-color-bg {
  background-color: #F3DFC3; }

.bg-color-border {
  background-color: rgba(0, 0, 0, 0.25); }

.bg-color-wind {
  background-color: #7CAD82; }

.bg-color-fire {
  background-color: #EE7839; }

.bg-color-ground {
  background-color: #DBB853; }

.bg-color-water {
  background-color: #5b8e9e; }

.color-bg {
  color: #F3DFC3; }

.color-border {
  color: rgba(0, 0, 0, 0.25); }

.color-wind {
  color: #7CAD82; }

.color-fire {
  color: #EE7839; }

.color-ground {
  color: #DBB853; }

.color-water {
  color: #5b8e9e; }

.leaflet-container {
  font-family: 'Noto Serif TC', sans-serif; }

.leaflet-control a[href="#"] {
  background-color: #f3e3c5; }
  .leaflet-control a[href="#"].leaflet-disabled {
    background-color: #e9d9bb; }

#map {
  display: flex;
  flex: 1;
  width: 100%; }
  #map .leaflet-control-container {
    width: 100%; }

#panel {
  height: 100%;
  width: 10%;
  min-width: 5rem;
  position: absolute;
  z-index: 9999;
  background-color: rgba(255, 200, 150, 0.7); }
  #panel:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, #5C9D96 0%, white 50%, #CB6971 100%);
    opacity: .1; }
  #panel .btn-group-vertical {
    width: 4rem;
    height: 4rem; }
  #panel .title-image {
    margin: 2rem 0;
    background-image: url("../img/title_v.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 50%; }

@keyframes elements-help-keyframe {
  0% {
    transform: translateY(-5px); }
  100% {
    transform: translateY(5px); } }
  #panel .elements-help {
    margin: 1rem 0;
    width: 3rem;
    height: 3rem;
    background-image: url("../img/element_icon.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    animation: elements-help-keyframe 1s ease-in-out infinite alternate; }
    #panel .elements-help:hover {
      opacity: .8; }
  #panel .index-links {
    margin-top: 100%; }
    #panel .index-links a, #panel .index-links span {
      color: #c6543c;
      font-weight: bold;
      text-decoration: none;
      transition: .3s; }
    #panel .index-links a:hover {
      color: #bc4a32; }
    #panel .index-links span {
      margin: 5px 0;
      display: block;
      border-bottom: 2px solid; }

#elements-help-overlay {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); }
  #elements-help-overlay .inner {
    width: 90%;
    max-width: 60rem;
    height: 90%;
    background-image: url("../img/element_help.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }

.cloud-popup {
  pointer-events: none; }
  .cloud-popup .leaflet-popup-content-wrapper {
    padding: 2rem 2rem 4rem 2rem;
    background: 0;
    color: black;
    box-shadow: none;
    background-image: url(../img/cloud.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    position: relative; }
  .cloud-popup .leaflet-popup-tip-container {
    display: none; }

.monster-popup .title {
  color: black;
  position: absolute;
  top: 10%;
  right: 10%;
  padding-right: 3rem;
  font-size: 1rem;
  text-decoration: none;
  writing-mode: vertical-rl; }

.monster-popup .link {
  position: absolute;
  top: 30%;
  right: 10%;
  font-size: 3rem;
  color: #C6543C;
  pointer-events: all; }

.monster-popup .image {
  height: 150px;
  width: 150px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

.add-popup .disc {
  display: block;
  max-height: 12rem;
  padding: 1rem 4rem 1rem 4rem;
  text-align: left;
  color: black;
  font-size: 1rem;
  text-decoration: none;
  writing-mode: vertical-rl; }

.add-popup .link {
  position: absolute;
  top: 40%;
  left: 20%;
  font-size: 2rem;
  color: #C6543C;
  pointer-events: all;
  writing-mode: vertical-rl;
  text-decoration: none; }

@media (max-width: 991px) {
  #panel {
    height: fit-content;
    bottom: 0; }
    #panel .title-image {
      display: none; }
    #panel .index-links {
      margin-top: 0; } }

/*# sourceMappingURL=map.css.map */