.bg-color-bg {
  background-color: #F3DFC3; }

.bg-color-border {
  background-color: rgba(0, 0, 0, 0.25); }

.bg-color-wind {
  background-color: #7CAD82; }

.bg-color-fire {
  background-color: #EE7839; }

.bg-color-ground {
  background-color: #DBB853; }

.bg-color-water {
  background-color: #5B9E98; }

.color-bg {
  color: #F3DFC3; }

.color-border {
  color: rgba(0, 0, 0, 0.25); }

.color-wind {
  color: #7CAD82; }

.color-fire {
  color: #EE7839; }

.color-ground {
  color: #DBB853; }

.color-water {
  color: #5B9E98; }

#monster-box.monster-water {
  background: linear-gradient(90deg, #5B9E98, #F3DFC3); }

@media (max-width: 991px) {
  #monster-box.monster-water #data-right {
    background: linear-gradient(90deg, #5B9E98 -3%, #F3DFC3 103%); } }

#monster-box.monster-ground {
  background: linear-gradient(90deg, #DBB853, #F3DFC3); }

@media (max-width: 991px) {
  #monster-box.monster-ground #data-right {
    background: linear-gradient(90deg, #DBB853 -3%, #F3DFC3 103%); } }

#monster-box.monster-wind {
  background: linear-gradient(90deg, #7CAD82, #F3DFC3); }

@media (max-width: 991px) {
  #monster-box.monster-wind #data-right {
    background: linear-gradient(90deg, #7CAD82 -3%, #F3DFC3 103%); } }

#monster-box.monster-fire {
  background: linear-gradient(90deg, #EE7839, #F3DFC3); }

@media (max-width: 991px) {
  #monster-box.monster-fire #data-right {
    background: linear-gradient(90deg, #EE7839 -3%, #F3DFC3 103%); } }

.write-verticle-lr {
  writing-mode: vertical-lr; }
  .write-verticle-lr h1, .write-verticle-lr h2, .write-verticle-lr h3, .write-verticle-lr h4, .write-verticle-lr h5 {
    margin: 0 1rem; }

.write-verticle-rl {
  writing-mode: vertical-rl; }
  .write-verticle-rl h1, .write-verticle-rl h2, .write-verticle-rl h3, .write-verticle-rl h4, .write-verticle-rl h5 {
    margin: 0 1rem; }

.write-initial {
  writing-mode: initial; }

#carousel {
  flex: 1;
  margin-bottom: 4rem;
  background-color: #F3DFC3;
  outline: 5px solid rgba(0, 0, 0, 0.25); }
  #carousel .carousel-item {
    height: 50vh; }
    #carousel .carousel-item img {
      width: 100%;
      height: 100%;
      object-fit: contain; }
  #carousel .carousel-indicators {
    margin-bottom: -4rem; }
    #carousel .carousel-indicators [data-bs-target] {
      background-color: #F3DFC3;
      width: 1rem;
      height: 1rem;
      border-top: 0;
      border-bottom: 0;
      border-radius: 0.5rem; }

#data-found-box {
  width: fit-content;
  border: 1px solid;
  border-width: 1px 0;
  padding: 1em 0;
  margin-left: auto; }
  #data-found-box .data-seperator {
    display: inline-block;
    width: 0;
    height: 0.75em;
    margin: 0.25em;
    border: 1px solid;
    border-width: 0 1px 0 0; }

#data-element {
  height: 5rem;
  margin-bottom: 1rem; }

#data-tag {
  margin: 0; }
  #data-tag a {
    margin-bottom: 0.5em; }

#data-date span {
  writing-mode: initial; }

#data-mid-top, #data-mid-bottom {
  height: 38vh;
  width: 100%;
  width: -webkit-fill-available;
  outline: 2px solid rgba(0, 0, 0, 0.25); }
  #data-mid-top div, #data-mid-top td, #data-mid-bottom div, #data-mid-bottom td {
    outline: 1px solid rgba(0, 0, 0, 0.25); }
  #data-mid-top td, #data-mid-bottom td {
    padding: 0.5rem; }
  #data-mid-top tr, #data-mid-bottom tr {
    width: min-content; }
  #data-mid-top tr.ex-row, #data-mid-bottom tr.ex-row {
    width: auto; }
    #data-mid-top tr.ex-row .ex-col, #data-mid-bottom tr.ex-row .ex-col {
      vertical-align: baseline; }
  #data-mid-top p, #data-mid-bottom p {
    margin: 0; }
  #data-mid-top .row-title, #data-mid-bottom .row-title {
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
    width: fit-content; }
    #data-mid-top .row-title h5, #data-mid-bottom .row-title h5 {
      margin: 0; }

@media (min-width: 1400px) {
  #data-mid-top td, #data-mid-bottom td {
    font-size: 1.25rem; } }

@media (max-width: 991px) {
  #data-element {
    position: absolute;
    right: 1rem;
    top: 2rem; }
  #data-found-box {
    height: fit-content;
    border: 1px solid;
    border-width: 0;
    padding: 0;
    margin-left: 0; }
    #data-found-box .data-seperator {
      width: 0.75em;
      height: 0;
      border-width: 1px 0 0 0; }
  #data-mid-top, #data-mid-bottom {
    height: auto;
    width: 100%; }
    #data-mid-top tr, #data-mid-bottom tr {
      height: min-content; }
    #data-mid-top tr.ex-row, #data-mid-bottom tr.ex-row {
      height: auto; }
    #data-mid-top .row-title, #data-mid-bottom .row-title {
      text-align: center;
      height: fit-content; }
  .write-verticle-lr, .write-verticle-rl {
    writing-mode: initial; }
    .write-verticle-lr h1, .write-verticle-lr h2, .write-verticle-lr h3, .write-verticle-lr h4, .write-verticle-lr h5, .write-verticle-rl h1, .write-verticle-rl h2, .write-verticle-rl h3, .write-verticle-rl h4, .write-verticle-rl h5 {
      margin: 0 0.5rem; } }

/*# sourceMappingURL=monster.css.map */