#map
    display: flex
    flex: 1
    width: 100%

.cloud-popup
    .leaflet-popup-content-wrapper
        padding: 4rem 4rem 8rem 4rem
        background: 0
        color: black
        box-shadow: none
        background-image: url(../img/cloud.png)
        background-size: contain
        background-repeat: no-repeat
        background-position: center
        text-align: center
        a
            color: black

    .leaflet-popup-tip-container
        display: none

    .leaflet-popup-content
        h1
            font-weight: bold
            text-align: center
