@import 'var'
@mixin element-parser($element, $color-element)
    #monster-box.monster-#{$element}
        background: linear-gradient(90deg, $color-element, $color-bg)
    @media (max-width: 991px)
        #monster-box.monster-#{$element} #data-right
            background: linear-gradient(90deg, $color-element -3%, $color-bg 103%)
            

@include element-parser("water", $color-water)
@include element-parser("ground", $color-ground)
@include element-parser("wind", $color-wind)
@include element-parser("fire", $color-fire)

.write-verticle-lr
    writing-mode: vertical-lr
    h1, h2, h3, h4, h5
        margin: 0 1rem
.write-verticle-rl
    writing-mode: vertical-rl
    h1, h2, h3, h4, h5
        margin: 0 1rem
.write-initial
    writing-mode: initial

.row
    max-width: 100%

#carousel
    flex: 1
    margin-bottom: 4rem
    background-color: $color-bg
    outline: 5px solid $color-border
    .carousel-item
        height: 0
        padding-bottom: 100%
        background-position: center center
        background-size: contain
        background-repeat: no-repeat
        video
            width: 100%
    .carousel-indicators
        margin-bottom: -4rem
        [data-bs-target]
            background-color: $color-bg
            width: 1rem
            height: 1rem
            border-top: 0
            border-bottom: 0
            border-radius: 0.5rem

#data-found-box
    width: fit-content
    border: 1px solid
    border-width: 1px 0
    padding: 1em 0
    margin-left: auto
    .data-seperator
        display: inline-block
        width: 0
        height: 0.75em
        margin: 0.25em
        border: 1px solid
        border-width: 0 1px 0 0

@keyframes elements-help-keyframe
        0%
            transform: translateY(-5px)
        100%
            transform: translateY(5px)

#elements-help
    color: rgba(0,0,0,0)
#data-element    
    height: 5rem
    margin-bottom: 1rem
    animation: elements-help-keyframe 1s ease-in-out infinite alternate

#data-tag
    margin: 0
    a
        margin-bottom: 0.5em

#data-date
    span
        writing-mode: initial

#data-mid-top, #data-mid-bottom
    height: 38vh
    outline: 2px solid rgba(0,0,0,0.4)
    overflow-x: auto
    table
        position: relative
        height: initial
        width: 100%
        td
            outline: 1px solid $color-border
            padding: 0.5rem
        tr
            width: min-content
        tr.ex-row
            width: auto
            .ex-col
                vertical-align: baseline
    p
        white-space: pre-wrap
        margin: 0
    .story-box
        outline: 1px solid $color-border
        vertical-align: baseline
        width: 100%
        overflow: auto
    .row-title
        background-color: $color-border
        color: white
        width: fit-content
        h5
            margin: 0


#elements-help-overlay
    position: fixed
    z-index: 9999
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba(0,0,0,.5)
    .inner
        width: 90%
        max-width: 60rem
        height: 90%
        background-image: url("../img/element_help_big.png")
        background-size: contain
        background-repeat: no-repeat
        background-position: center

#comment-box
    min-height: 50vh
    padding-bottom: 4rem
    .comment-row
        border: 1px solid rgba(0,0,0,.25)
        background-color: rgba(255,255,255,.25)
        padding: 1rem
        margin-bottom: 1rem
        .comment-author
            font-weight: bold
        .comment-content

@media (min-width: 1400px)
    #data-mid-top, #data-mid-bottom
        td
            font-size: 1.1rem
    
@media (max-width: 991px)
    #monster-box
        padding-bottom: 3rem
    #data-element
        position: absolute
        right: 1rem
        top: 2rem

    #data-found-box
        height: fit-content
        border: 1px solid
        border-width: 0
        padding: 0
        margin-left: 0
        .data-seperator
            width: 0.75em
            height: 0
            border-width: 1px 0 0 0


    #data-mid-top, #data-mid-bottom
        height: auto
        width: 100%
        tr
            height: min-content
        tr.ex-row
            height: auto
        .row-title
            text-align: center
            height: fit-content
    #data-mid-bottom
        .row-title, .story-box 
            width: 100%
    .write-verticle-lr, .write-verticle-rl
        writing-mode: initial
        h1, h2, h3, h4, h5
            margin: 0 0.5rem
