<!DOCTYPE html>
<html lang="zh-hant">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="og:title" content="坪林尋怪地圖" />
    <meta name="og:image" content="{{url_for('static', filename='img/index/index_4_banner.png', version=GLOBAL_VERSION)}}" />
    <meta name="og:description" content="是誰在湖桶古道傳出陣陣哀嚎？是誰黏住雪隧裡的車子讓大家不得動彈、在北宜公路造成那麼多交通意外？是誰讓坪林的人口越來越少，公車座位和班次卻永遠不夠？夜裡群聚的流浪狗是在對誰悲鳴？山裡的樹木又被誰拔去？" />

    <title>{% block title %}{% endblock %} - {{GLOBAL_TITLE}}</title>
    <link rel="shortcut icon" type="image/ico" href="{{url_for( 'static' ,filename='favicon.ico' )}}" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;400;700&amp;family=Noto+Serif+TC:wght@200;400;700&amp;display=swap"
        rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/common.css', version=GLOBAL_VERSION)}}">
    {% block head %} {% endblock %}
</head>

<body>
    <div id="loading">
        <img src="{{url_for( 'static' ,filename='loading.svg' )}}" alt="">
    </div>
    <div id="body-box">
        {% block body %}{% endblock %}
    </div>

    <script src="https://kit.fontawesome.com/cc94f52acd.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <script>
        window.onload = function () {
            $("#loading").fadeOut(300);
        };
    </script>
    {% block script %}{% endblock %}
</body>