{% extends "base.html" %}
{% block title %}忘記密碼{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/login.css', version=GLOBAL_VERSION)}}" />
{% endblock %}

{% block body %}
{% include './module/nav.html' %}
<div class="container-fluid" id="form-box">
    <div class="row justify-content-center">
        <div class="col-lg-4">
            <h1 class="text-center">忘記密碼</h1>
            <form id="login-form" action="/forget" method="post">
                <div class="mb-3">
                    <label for="InputEmail" class="form-label">Email 電子信箱</label>
                    <input type="email" class="form-control" name="email" id="InputEmail" required>
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-warning btn-lg">送出</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
{% endblock %}