{% extends "base.html" %}
{% block title %}首頁{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css', version=GLOBAL_VERSION)}}" />
<link href="https://unpkg.com/aos@next/dist/aos.css" rel="stylesheet">
{% endblock %}

{% block body %}
<div id="index-block-1">
    <div class="inner-0"></div>
    <div class="inner-0-overlay gradient"></div>
    <div class="inner-1" data-aos="fade-in" data-aos-mirror="true"></div>
    <div class="inner-2">
        <div class="p-fixed monster-1" data-aos="fade-right" data-aos-anchor="#inner-2-anchor" data-aos-delay="0"><img
                src="{{url_for('static', filename='img/index/index_2_monster_1.png', version=GLOBAL_VERSION)}}" alt="">
        </div>
        <div class="p-fixed monster-2" data-aos="fade-right" data-aos-anchor="#inner-2-anchor" data-aos-delay="100"><img
                src="{{url_for('static', filename='img/index/index_2_monster_2.png', version=GLOBAL_VERSION)}}" alt="">
        </div>
        <div class="p-fixed monster-3" data-aos="fade-left" data-aos-anchor="#inner-2-anchor" data-aos-delay="200"><img
                src="{{url_for('static', filename='img/index/index_2_monster_3.png', version=GLOBAL_VERSION)}}" alt="">
        </div>
        <div class="p-fixed monster-4" data-aos="fade-left" data-aos-anchor="#inner-2-anchor" data-aos-delay="300"><img
                src="{{url_for('static', filename='img/index/index_2_monster_4.png', version=GLOBAL_VERSION)}}" alt="">
        </div>
        <div class="p-fixed monster-5" data-aos="fade-in" data-aos-anchor="#inner-2-anchor" data-aos-delay="400"><img
                src="{{url_for('static', filename='img/index/index_2_monster_5.png', version=GLOBAL_VERSION)}}" alt="">
        </div>
        <div class="p-fixed montain" data-aos="fade-in" data-aos-anchor="#inner-2-anchor">
        </div>
        <div class="p-fixed front" data-aos="fade-up" data-aos-anchor="#inner-2-anchor" data-aos-mirror="true">
        </div>
        <div id="inner-2-anchor" class="inner-anchor"></div>
    </div>
    <div id="discription">
        <div class="inner-3 d-none d-md-block">
            <div class="p-fixed inner-3-overlay" data-aos="fade-in" data-aos-anchor="#inner-3-anchor"></div>
            <div class="p-fixed inner-3-text-block" data-aos="fade-in" data-aos-anchor="#inner-3-anchor"
                data-aos-mirror="true">
                <div class="inner-3-text-scroll">
                    <img src="{{url_for('static', filename='img/index/index_3_texts.png', version=GLOBAL_VERSION)}}"
                        alt="">
                </div>
            </div>
            <div id="inner-3-anchor" class="inner-anchor"></div>
        </div>
        <div class="inner-3-v d-md-none d-flex align-items-center" data-aos="fade-in">
            <div class="inner-3-text-block">
                <p>「噓，你聽說了嗎？」</p>
                <p>是誰在湖桶古道傳出陣陣哀嚎？是誰黏住雪隧裡的車子讓大家不得動彈、在北宜公路造成那麼多交通意外？是誰讓坪林的人口越來越少，公車座位和班次卻永遠不夠？夜裡群聚的流浪狗是在對誰悲鳴？山裡的樹木又被誰拔去？
                </p>
                <p>這份尋怪地圖始於坪林故事採集團隊與坪林國中走讀課程的合作，歷屆八年級的同學們挖掘已存在於坪林的鄉野怪奇故事，也透過轉化生活與環境議題創作妖怪角色。坪林尋怪地圖屬於所有的人。你可以在這裡尋找、記錄妖怪與祂們的產地，同時爬梳坪林古今不同時空裡交錯的記憶。怪奇故事，讓這些傳說和地方議題再次被看見，並以新的姿態延續下去。
                </p>
                <p>是時候出發了，握緊地圖，一旦踏入雲霧之中就放輕腳步、聽見聲音就悄悄回頭，說不定會有意料之外的收穫，祝你有一趟如夢似幻的旅程。
                </p>
                <img src="{{url_for('static', filename='img/index/index_3_small.png', version=GLOBAL_VERSION)}}" alt="">
            </div>
        </div>
    </div>
</div>
<div id="intro-video" class="container">
    <div class="ratio ratio-16x9">
        <iframe class="h-100 w-100" src="https://www.youtube.com/embed/164CSGNWO-I" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
</div>
<div id="monstersets">
    <div id="index-block-2">
        <div class="inner sticky-top d-none d-md-block" data-aos="fade-in">
            <div class="gradient">
            </div>
            <div class="go-map-overlay" data-aos="fade-in" data-aos-anchor="#block-2-anchor">
                <a href="/map" id="go-map">
                </a>
            </div>
        </div>
        <div class="d-md-none" data-aos="fade-in">
            <img class="w-100"
                src="{{url_for('static', filename='img/index/index_4_banner_v.jpg', version=GLOBAL_VERSION)}}" alt="">
        </div>
        <div id="block-2-anchor"></div>
    </div>
</div>
<div class="inner-block-3 d-md-none d-flex flex-column align-items-center">
    <div class="inner-3-text-block" data-aos="fade-in">
        <p>
            <small>一○九學年課程成果暨坪林怪奇圖錄四十則創作</small><br>
            坪林國中學生○王語琪●白祐滕●吳俊躍●李鎮廷●李騏亦●林中賢●林佑勳●林依瑭●林怡辰●林庭暉●邱鉉翔●胡宇鎧●范汶靜●范凱翔●高邑丞●張芮甄●張　浩●陳妍鈞●陳禹安●陳益財●陳澤榮●陳幰傑●傅宇威●曾怡馨●黃玟霖●楊湘柔●詹博丞●廖晨瑋●劉渝瑄●潘柔羽●潘韋豪●鄭宇佑●鄭宇翔●鄭翔文●鄭禕依●駱明雄●謝誠祐●羅　潔●鐘姿儀●鐘清文
        </p>
        <p>
            <small>一一一學年課程成果暨怪奇新聞創作</small><br>
            坪林實驗國中學生○朱宸緯●吳昀恩●李弘民●李昱圻●李萊恩●周妙蓁●林中隆●林佑臻●林品妍●林品嫣●林渝涵●翁翊博●張容榛●張　筠●張睿哲●莊鈞博●許廷睿●許家浱●郭安宸●郭沅樺●陳漢霖●傅宥瑞●黃上豪●黃亞宗●楊家瑋●楊家齊●葉字軒●詹程宇●劉誌晏●蔡意萍●謝承樺●藍士恩
        </p>
        <p>
            <small>計畫總監</small><br>
            陳科廷●張筱翎
        </p>
        <p>
            <small>坪林尋怪系列課程設計與執行</small><br>
            ◉一○九學年◉<br>
            陳科廷●鐘振紘●相堂芊●陳稚璽●劉盈孜●鄭仰婷●李昱萱●陳君典●高任翔●張筱翎<br>
            無界塾實驗教育機構○謝忠瑋<br>
            政治大學社會創新實驗室○張仰賢●湯京平●范秀如●孫莅華●劉亭萱●羅佳貽<br>
            ◉一一一學年◉<br>
            陳科廷●張筱翎●鐘振紘●許瑋育●林　璫●陳思緣●許　赫●游秀雯●黃偉茜
        </p>
        <p>
            網站建製 高任翔
        </p>
        <p>
            美術設計 陳科廷
        </p>
        <p>
            題字 阿發
        </p>
        <p>
            <small>主辦單位</small><br>
            坪林故事採集●新北市立坪林實驗國中●採集人共作室
        </p>
        <p>
            <small>合作單位</small><br>
            新北市坪林茶葉永續生產合作社●無界塾實驗教育機構●政治大學社會創新實驗室●新北市坪林茶業博物館●新北有機運銷合作社
        </p>
        <p>
            <small>計畫贊助與指導</small><br>
            文化部○青年村落文化行動計畫<br>
            一○九年【帶上我們的故事—坪林來去校外教學】<br>
            一一一年【坪林有河不可—記憶與技藝的合流】<br>
            新北市教育局○實驗課程計畫<br>
            一○九年【坪林文化走讀—坪林打怪去】<br>
            一一一年【坪林文化走讀—坪林尋怪】<br>
            新北市文化局○青年參與社造行動計畫<br>
            一一○年【坪林尋怪地圖】<br>
            零時政府 g0v ○零時小學校 Sch001 <br>
            Demo Day 2021-22【眾生開眼＿坪林尋怪地圖】<br>

        </p>
        <p>
            <small>特別感謝</small><br>
            新北市立坪林實驗國中○歐志華●鄧可珊●游秀雯●王元慶●鄭佳虹●陳筱婷<br>
            陳偉謙●黃種紹<br>
            竹圍工作室<br>
            坪林永成號<br>
            新北坪林境眾生萬物
        </p>
        <img src="{{url_for('static', filename='img/index/index_bottom.png', version=GLOBAL_VERSION)}}" alt="">
        <div class="go-map-overlay" data-aos="fade-in" data-aos-anchor="#block-3-anchor">
            <a href="/map" id="go-map">
            </a>
        </div>
        <div id="block-3-anchor"></div>
        <div class="link-group">
            <a href="https://www.facebook.com/pinglinstory" target="_blank">
                <img src="{{url_for('static', filename='img/Facebook_icon.svg', version=GLOBAL_VERSION)}}" alt="">
            </a>
            <a href="https://www.instagram.com/strange_pinglin/" target="_blank">
                <img src="{{url_for('static', filename='img/Instagram_icon.svg', version=GLOBAL_VERSION)}}" alt="">
            </a>
            <a href="mailto:pinglinstory@apps.ntpc.edu.tw" target="_blank">
                <img src="{{url_for('static', filename='img/Mail_icon.svg', version=GLOBAL_VERSION)}}" alt="">
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script src="{{url_for('static', filename='js/index.js', version=GLOBAL_VERSION)}}"></script>
{% endblock %}