{% extends "base.html" %}
{% block title %}地圖{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />
<link rel="stylesheet" href="https://unpkg.com/leaflet-geosearch@3.3.2/dist/geosearch.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.74.0/dist/L.Control.Locate.min.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" />
<link rel="stylesheet" href="{{url_for('static', filename='css/map.css', version=GLOBAL_VERSION)}}" />
{% endblock %}

{% block body %}
<div id="map"></div>
<div id="panel" class="d-flex flex-column justify-content-center p-2">
    <div class="align-self-center">
        {% if login_data is defined %}
        {% if login_data is none %}
        <a href="/login" role="button" class="btn btn-potato btn-rounded mb-1">登入</a>
        <br />
        <a href="/register" role="button" class="btn btn-potato btn-rounded">註冊</a>
        {% else %}
        <a href="/logout" role="button" class="btn btn-tomato btn-rounded mb-1">登出</a>
        <br />
        <a href="/portal" role="button" class="btn btn-tomato btn-rounded">管理</a>
        {% endif %}
        {% endif %}
    </div>
    <div class="title-image"></div>
    <a href="#" role="button" class="d-block elements-help align-self-center"></a>
    <div class="index-links align-self-center">
        <a href="/#discription" role="button" class="d-block">計畫說明</a>
        <span></span>
        <a href="/#monstersets" role="button" class="d-block">怪奇圖錄</a>
    </div>
</div>
<div class="d-none align-self-center d-flex justify-content-center" id="elements-help-overlay">
    <div class="inner align-self-center"></div>
</div>
{% endblock %}

{% block script %}
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
<script src="https://unpkg.com/leaflet-geosearch@3.3.2/dist/geosearch.umd.js"></script>
<script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.74.0/dist/L.Control.Locate.min.js"
    charset="utf-8"></script>
<script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster-src.js"></script>
<script src="https://cdn.jsdelivr.net/npm/crypto-js@4.1.1/crypto-js.js"></script>
<script>
    $(".elements-help,#elements-help-overlay").on("click", function (e) {
        $("#elements-help-overlay").toggleClass("d-none");
    });
    let geojson = {{ geojson| tojson | safe }};
</script>
<script src="{{url_for('static', filename='js/map.js', version=GLOBAL_VERSION)}}"></script>
{% endblock %}