{% extends "base.html" %}
{% block title %}新增{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />
<link rel="stylesheet" href="{{url_for('static', filename='css/add.css', version=GLOBAL_VERSION)}}" />
{% endblock %}

{% block body %}
<div class="container">
    <form class="p-5 mx-lg-5" id="monster-data-form">
        <div class="mb-3 row g-2">
            <div class="col-6">
                <input type="number" step="any" class="form-control" id="monster-lng" required disabled>
            </div>
            <div class="col-6">
                <input type="number" step="any" class="form-control" id="monster-lat" required disabled>
            </div>
        </div>
        <div class="mb-3">
            <div id="map"></div>
        </div>
        <div class="mb-3" id="monster-thumb-block">
            <label for="monster-thumb" class="form-label">封面圖片</label>
            <input type="file" name="monster-thumb" id="monster-thumb" class="form-control" accept=".jpg, .jpeg, .png">
            <span class="form-text">檔案大小限制（20MB）</span>
            <div class="image-list mt-2">
            </div>
        </div>
        <div class="mb-3" id="monster-image-block">
            <label for="monster-image" class="form-label">圖片</label>
            <input type="file" name="monster-image" id="monster-image" class="form-control" accept=".jpg, .jpeg, .png">
            <span class="form-text">檔案大小限制（20MB）／最多3張</span>
            <div class="image-list mt-2">
            </div>
        </div>
        <div class="mb-3">
            <label for="monster-name" class="form-label">妖怪名稱</label>
            <input type="text" class="form-control" id="monster-name" value="" maxlength="15" required>
            <span class="form-text">上限 15 個字</span>
        </div>
        <div class="mb-3">
            <label for="monster-tag" class="form-label">妖怪標籤（以 , 分隔）</label>
            <input type="text" class="form-control" id="monster-tag" value="" required>
        </div>
        <div class="mb-3">
            <label for="monster-category" class="form-label">妖怪分類／屬性</label>
            <a href="#" id="elements-help" role="button"
                class="btn btn-tomato elements-help align-self-center mb-2 ms-4">分類、屬性說明</a>
            <div class="row g-2">
                <div class="col">
                    <select id="monster-category" class="form-select" required>
                        <option value="山野">山野</option>
                        <option value="水域">水域</option>
                        <option value="過渡">過渡</option>
                        <option value="人文">人文</option>
                    </select>
                </div>
                <div class="col">
                    <select id="monster-element" class="form-select" required>
                        <option value="ground">地</option>
                        <option value="water">水</option>
                        <option value="fire">火</option>
                        <option value="wind">風</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="monster-date" class="form-label">發現日期</label>
            <input type="date" class="form-control" id="monster-date" value="" required>
        </div>
        <div class="mb-3">
            <label for="monster-local" class="form-label">妖怪棲地</label>
            <input type="text" class="form-control" id="monster-local" value="" required>
        </div>
        <div class="mb-3">
            <label for="monster-disc" class="form-label">棲地環境介紹</label>
            <textarea class="form-control" id="monster-disc" rows="3" maxlength="150"></textarea>
            <span class="form-text">上限 150 個字</span>
        </div>
        <div class="mb-3">
            <label for="monster-strong" class="form-label">妖怪強項</label>
            <input type="text" class="form-control" id="monster-strong" value="" required>
        </div>
        <div class="mb-3">
            <label for="monster-weak" class="form-label">妖怪弱點</label>
            <input type="text" class="form-control" id="monster-weak" value="" required>
        </div>
        <div class="mb-3">
            <label for="monster-title" class="form-label">怪奇故事標題</label>
            <input type="text" class="form-control" id="monster-title" value="" required>
        </div>
        <div class="mb-3">
            <label for="monster-story" class="form-label">故事內容</label>
            <textarea class="form-control" id="monster-story" rows="6" maxlength="1000"></textarea>
            <span class="form-text">上限 1000 個字</span>
        </div>
        <hr>
        <div class="d-grid">
            <button type="submit" class="btn btn-warning btn-lg">確認新增</button>
        </div>
    </form>
</div>
<div class="d-none align-self-center d-flex justify-content-center" id="elements-help-overlay">
    <div class="inner align-self-center"></div>
</div>
<a href="/map" class="btn btn-tomato" style="position: fixed; bottom:1rem; left: 1rem" title="回到地圖"><i
        class="fas fa-angle-double-left"></i></a>
{% endblock %}

{% block script %}
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
<script src="{{url_for('static', filename='js/add.js', version=GLOBAL_VERSION)}}"></script>
{% endblock %}