{% extends "base.html" %}
{% block title %}{{monster_data['name']}}{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/monster.css', version=GLOBAL_VERSION)}}" />
{% endblock %}

{% block body %}
<div class="monster-{{monster_data['element']}} container-fluid d-flex flex-grow-1" id="monster-box">
    <div class="container d-flex flex-grow-1 justify-content-center align-items-center">
        <div class="row flex-grow-1">
            <div class="col-lg d-flex align-items-center p-4 order-2 order-lg-1">
                <div id="carousel" class="carousel slide" data-bs-interval="false">
                    <div class="carousel-indicators">
                        {% for image in monster_data['image'] %}
                        <button type="button" data-bs-target="#carousel" data-bs-slide-to="{{loop.index - 1}}"
                            class="{% if loop.index == 1 %}active{% endif %}" aria-current="true"></button>
                        {% endfor %}
                    </div>
                    <div class="carousel-inner">
                        {% for image in monster_data['image'] %}
                        <div class="carousel-item {% if loop.index == 1 %}active{% endif %}"
                            style="background-image: url({{url_for('static', filename='img/monsters/'+monster_data['id']+'/'+image, version=GLOBAL_VERSION)}});">
                            {% if ".mp4" == image[-4:] %}
                            <video autoplay controls controlsList="nodownload">
                                <source
                                    src="{{url_for('static', filename='img/monsters/'+monster_data['id']+'/'+image, version=GLOBAL_VERSION)}}"
                                    type="video/mp4">
                            </video>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-lg-6 d-flex flex-column order-3 order-lg-2" id="data-mid">
                <div class="write-verticle-rl mb-4 mb-lg-0" id="data-mid-bottom">
                    <table>
                        <tr class="row-title">
                            <td>
                                <h5>{{monster_data['title']}}</h5>
                            </td>
                        </tr>
                        <tr class="ex-row">
                            <td class="ex-col">
                                <p>{{monster_data['story']}}</p>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="write-verticle-rl mb-4 order-lg-first" id="data-mid-top">
                    <table>
                        <tr class="row-title">
                            <td colspan="2">
                                <h5>妖怪棲地</h5>
                            </td>
                        </tr>
                        <tr>
                            <td>地點</td>
                            <td>{{monster_data['local']}}</td>
                        </tr>
                        <tr class="ex-row">
                            <td>描述</td>
                            <td class="ex-col">
                                <p>{{monster_data['disc']}}</p>
                            </td>
                        </tr>
                        <tr class="row-title">
                            <td colspan="2">
                                <h5>特殊技能</h5>
                            </td>
                        </tr>
                        <tr>
                            <td>強項</td>
                            <td>{{monster_data['strong']}}</td>
                        </tr>
                        <tr>
                            <td>弱點</td>
                            <td>{{monster_data['weak']}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-lg-auto order-1 order-lg-3 sticky-top py-4 py-lg-0" id="data-right">
                <div class="row h-100">
                    <div class="col-lg order-lg-last px-4 px-lg-0 write-verticle-rl flex-grow-0">
                        <a href="#" id="elements-help">
                            <img id="data-element"
                                src="{{url_for('static', filename='img/category/'+monster_data['category']+monster_data['element']+'.svg')}}"
                                alt="">
                        </a>
                        <span id="data-tag">
                            {% for tag in monster_data['tag'] %}
                            <a>#{{tag}}</a>
                            {% endfor %}
                        </span>
                    </div>
                    <div class="col-lg d-flex flex-column flex-grow-0">
                        <div class="write-verticle-rl flex-grow-1">
                            <h1 id="data-name">{{monster_data['name']}}</h1>
                        </div>
                        <div class="write-verticle-rl" id="data-found-box">
                            <div class="m-2">
                                目擊者<span class="data-seperator"></span><a
                                    id="data-founder">{{monster_data['founder']}}</a>
                                <span class="d-lg-block m-1"></span>
                                日期<span class="data-seperator"></span><a
                                    id="data-date"><span>{{monster_data['date'][0]}}</span>.<span>{{monster_data['date'][1]}}</span>.<span>{{monster_data['date'][2]}}</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% if can_edit == True %}
<a href="#" class="btn btn-tomato" style="position: fixed; bottom:1rem; right: 1rem" id="edit-button">編輯</a>
{% endif %}
<div class="d-none align-self-center d-flex justify-content-center" id="elements-help-overlay">
    <div class="inner align-self-center"></div>
</div>
<a href="/map?mid={{monster_id}}" class="btn btn-tomato" style="position: fixed; bottom:1rem; left: 1rem"
    title="回到地圖"><i class="fas fa-angle-double-left"></i></a>
{% endblock %}

{% block script %}
<script>
    $("#edit-button").on('click', function (e) {
        window.location.href = window.location.href.replace("monster", "edit");
    });
    $("#elements-help,#elements-help-overlay").on("click", function (e) {
        $("#elements-help-overlay").toggleClass("d-none");
    });
    $(window).resize(function (e) {
        $("#carousel .carousel-item video").height($("#carousel .carousel-item video").width());
    });
    $(window).resize();
</script>
{% endblock %}